//
//  Dev.xcconfig
//  Taylr
//
//  Created by Tony Xiao on 2/28/15.
//  Copyright (c) 2015 S10 Inc. All rights reserved.
//

BUNDLE_IDENTIFIER = tv.s10.taylr.dev
BUNDLE_DISPLAY_NAME = Taylr α
CUSTOM_CODE_SIGN_IDENTITY = iPhone Developer
FACEBOOK_APP_ID = 837780592942367
FACEBOOK_DISPLAY_NAME = Taylr α
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
URL_SCHEME = taylr-dev