//
//  Beta.xcconfig
//  Ketch
//
//  Created by Tony Xiao on 2/28/15.
//  Copyright (c) 2015 Ketch. All rights reserved.
//

BUNDLE_IDENTIFIER = com.milasya.ketch.beta
BUNDLE_DISPLAY_NAME = Ketch Alpha
CUSTOM_CODE_SIGN_IDENTITY = iPhone Distribution
CUSTOM_PROVISIONING_PROFILE = 1398f865-130c-442d-b0a7-177c095afd2d
FACEBOOK_APP_ID = 788081084618097
FACEBOOK_DISPLAY_NAME = Ketch Beta