//
//  Prod.xcconfig
//  Ketch
//
//  Created by Tony Xiao on 2/28/15.
//  Copyright (c) 2015 Ketch. All rights reserved.
//

BUNDLE_IDENTIFIER = com.milasya.ketch
BUNDLE_DISPLAY_NAME = Taylr
CUSTOM_CODE_SIGN_IDENTITY = iPhone Distribution
FACEBOOK_APP_ID = 788119904575103
FACEBOOK_DISPLAY_NAME = Taylr
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
URL_SCHEME = taylr